C:/Users/mz30/protein_explorer/Combined_Kinome_10A_Master_Filtered_2.parquet filter=lfs diff=lfs merge=lfs -text
C:/Users/mz30/protein_explorer/ClinVar_Missense_To_ST.xlsx filter=lfs diff=lfs merge=lfs -text
Combined_Kinome_10A_Master_Filtered_2.feather filter=lfs diff=lfs merge=lfs -text
Combined_Kinome_10A_Master_Filtered_2.parquet filter=lfs diff=lfs merge=lfs -text
